.Navbar_Container{
    width:100%;
    height:60px;
    display:flex;
    position:sticky;
    top:0;
    z-index:100;
    align-items:center;
    justify-content:space-around;
    background-color:white;
    border-bottom:1px solid grey;
    border-radius:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Navbar_Logo{
    height:100%;
    width:165px;
    display:flex;
    align-items:center;
    padding:0px 9px 0px 9px;
}
.Navbar_Logo > img{
    height:45px;
     width:100%;
 }

 .Navbar_Options{

    display:flex;
    align-items:center;
 }
.Options{
    margin:0 10px 0 10px;
    cursor:pointer;
    
}
.Options>p{
   text-decoration:none;
   color:black;
}

.Navbar_SearchBar{
    padding: 5px 13px 5px 13px;
    display:flex;
    
    border-radius:24px;
    align-items:center;
    border:1px solid black;
}
.Header_Search{
    width:100%;
    height:12px;
    padding:10px;
    border:none;
}
.Header_SearchIcon{
    padding:0px;
    height:22px ;
    background-color:white;
}
.Navbar_Buttons{
    display:none;
}

@media only screen and (max-width: 600px) {
            .Navbar_Buttons{
                display:block;
                z-index:100;
                border: 3px solid #212529;
                color: #212529;
            }
            
            .Navbar_Container{
                position:relative;
                z-index:100;
                
            }
            .Navbar_Options{
               
                width:100%;
                height:100vh;
                background:lightgray;
                position:absolute;
                top:0;
                display:flex;
                justify-content:center;
                align-items:center;
                flex-direction:column;
                transform:translateX(100%);
                transition: all 0.5s linear;
                opacity:0;
                visibility:hidden;
                pointer-events: none;
                
            }

            .Navbar_SearchBar{
                display:none;
            }

           .active {
                transform : translateX(0%);
                opacity:1;
                visibility:visible;
                pointer-events:auto;
            }
           


           


}