.LandingPage_Container{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;  
}

.Poster_Image{
    height:500px;
    width:100%;
    display:flex;
    border-bottom:3px solid black;
    padding-bottom:15px;    
}
.Background_Image{
   
    height:100%;
    width:70%;
    display:flex; 
    
}
.Background_Image> img{
    height:100%;
    width:100%;
    object-fit:contain;
}

.Sports_Played{
    display:flex;
    flex-direction:column;
    text-align:center;
    
}
.Sports_Played>h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin:20px 0 20px 0;
}


.Sports_Images_Cards1{
    
    display:flex;
    justify-content:space-around;
    
   
    
}
.Sports_Images_Cards{
    display:flex;
    justify-content:space-around;
}
.UpcomingMatches{
    display:flex;
    width:30%;
    height:100%;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    text-align:center;
}
.UpcomingMatches>div>h2{
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media(max-width:600px){
    .Sports_Played{
        flex-direction:row;
        justify-content:space-around;
    }
    .Sports_Images_Cards1{
        flex-direction:column;
        
    }
    .Sports_Images_Cards{
        flex-direction:column;
        
    }
    .UpcomingMatches>div>h2{
        font-size:0.85rem;
    }
}
