.container_photo {
  display: flex;
  justify-content: space-between;
  /* Adjust container width and height as needed */
  width: 95%;
  height: 400px;
  margin: 0 auto;
  /* border: 2px solid black; */
}

.photos_container{

  text-align:center;
}
.photos_container>h1{
  margin:10px 0 10px 0;
}

.column_photo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.small-image_photo {
  background-color: #f66c9b; /* Image color */
  width: 95%; /* Same width for both images */
  height: 300px;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.big-image_photo {
  margin: 8px;
  background-color: blue;
  width: 95%;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
}

.image_ins{
  max-width:  100%;
  height: auto;
  display: block;
}

.title_photo{
  margin-left: 8%;
}