.Sports_Card{
    display:flex;
    flex-direction:column;
    height:250px;
    width:250px;
    padding:10px;
    transition:0.5s;
    margin-bottom:0px;
    border-radius:10px;
    
}
.Sports_Card:hover{
    transform:scale(1.1);
    z-index:2;
}
.Sports_Name{
    text-align:center;
    background-color:lightgray;
    height:20%;
    font-size:0.75rem;
    margin-bottom:15px;
    border-radius:5px;
}
.Sports_Name>h1{
    margin:0;
}
.Sports_Card> img{
    border-radius:5px;
    height:100%;
    width:100%;
}
@media(max-width:600px){
    .Sports_Card{
       
        height:300px;
        width:200px;
       
    
        
    }
    .Sports_Name{
        font-size:0.75rem;
    }
}