.LandingPage_Container{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;  
}


.Poster_Image{
    height:500px;
    width:100%;
    display:flex;
    border-bottom:3px solid black;
    
}
.Background_Image{
   
    height:100%;
    width:70%;
    background-image:url("https://thebridge.in/h-upload/2022/09/08/37511-untitled-design-2022-09-08t224610760.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    
}
.Poster_Text1{
    
    
    position:relative;
    top:5%;
    display:inline-block;
    left:10%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:2rem;
    color:white;
    
    
    
}
.text{
    width:100%;
    border-right:2px solid white;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s  steps(25) ,
    cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{
        border-color:transparent

    }
}
@keyframes typing{
    from {width:0}
}






.Poster_Text2{
    height:200px;
    width:300px;
    position:relative;
    left:10%;
    top:20%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:1.15rem;
    color:white;
    
   
}
.Sports_Played{
    display:flex;
    flex-direction:column;
    text-align:center;
    
}
.Sports_Played>h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin:20px 0 20px 0;
    border-bottom:3px solid black;
    padding:5px;
}


.Sports_Images_Cards1{
    border-bottom: 2px solid black;
    display:flex;
    justify-content:space-around;
    margin-bottom:15px;
   
    
}
.Sports_Images_Cards{
    display:flex;
    justify-content:space-around;
}
.UpcomingMatches{
    display:flex;
    width:30%;
    flex-direction:column;
    justify-content:flex-end;
    text-align:center;
}
.UpcomingMatches>div>h2{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:2rem;
  margin:10px;
}
